body{
    background-color: #191919;
    color: aliceblue;
    text-align: center; /* ЦЕНТРУЕТ ТЕКСТ НА ВСЕМ САЙТЕ УБРАТЬ ПОТОМ */
    font-family: 'Arial', sans-serif;
    margin: auto;
}

p{
    margin: auto;
}

/* ГЛАВНАЯ ПАНЕЛЬ (НА НЕЙ ВСЯ СТРАНИЦА) */
.main-panel{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* КЛАСС ДЛЯ ВСЕХ СТОЛБИКОВ */
.column{
    padding: 10px;
    /* width: 410px; */
    height: 700px;
    border-radius: 10px;
}

/* КЛАССЫ ДЛЯ ЗАДАЧЕК */
.task{
    width: 390px;
    height: 225px;
    border-radius: 10px;
}

.add-task{
    margin-top: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    height: 50px;
    display: flex;
    transition: border 0.2s linear;
}

.add-task:hover{
    border-color: azure;
}

/* АЙДИШНИКИ ДЛЯ НАСТРОЙКИ КАЖДОГО СТОЛБА ЕПТА */
#to-do{
    background-color: #202020;
}

#doing{
    background-color: #201F18;
}

#done{
    background-color: #20251E;
}

/* АЙДИЩНИКИ ДЛЯ НАСТРОЙКИ КАЖДОЙ ЗАМЕТКИ В СТОЛБИКАХ */
#to-do-task{
    background-color: #414141;
}

#doing-task{
    background-color: #42402E;
}

#done-task{
    background-color: #3C4638;
}
